[submodule "third_party/Rooterberg"]
	path = third_party/Rooterberg
	url = https://github.com/bleichenbacher-daniel/Rooterberg.git
[submodule "third_party/nlohmann_json"]
	path = third_party/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/wycheproof"]
	path = third_party/wycheproof
	url = https://github.com/C2SP/wycheproof.git
